.circulo1{
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 50%;
}

.circulo2{
    width: 0px;
    height: 0px;
    border-radius: 100%;
    border-left: 50px solid brown;
    border-top: 50px solid blue;
    border-right: 50px solid green;
    border-bottom: 50px solid yellow;
}

.diamante{
    clip-path: polygon(0% 20%, 20% 0%, 80% 0%, 100% 20%, 50% 100%);
    background-color: brown;
    height: 100px;
    width: 100px;
    margin-left: 20px;
}